<section style="background-color: whitesmoke;">
    <div class="visual">
        <h1 style="color: fuchsia;">The AI Photo Editor for the decentralized web</h1>
        <h2 style="text-decoration: underline;">Add some siiick effects to your photos.</h2>
    </div>
</section>
<div id="upload_section" class="visual">
    <h4>Upload a photo</h4>
    <div style="width: 200px"> <!-- this div just for demo display -->
        <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
            <label class="dropimage">
                <input title="Drop image or click me" type="file" name="file1">
            </label>
            <input type="submit" value="upload" />
        </form>
    </div>
</div>



<div class="tabs four visual">
    {{#each files}}
    <input id="tabC-{{@index}}" type='radio' name='tabGroupC'>
    {{/each}}

    <div class='row'>
        {{#each files}}
            <div>
                <img src="/images/uploads/{{this}}">
            </div>
        {{/each}}       
    </div>
    {{#each files}}
    <label for="tabC-{{@index}}"><img src="/images/uploads/{{this}}"></label>
    {{/each}}    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        [].forEach.call(document.querySelectorAll('.dropimage'), function (img) {
            img.onchange = function (e) {
                var inputfile = this;
                var reader = new FileReader();
                reader.onloadend = function () {
                    inputfile.style['background-image'] = 'url(' + reader.result + ')';

                };
                reader.readAsDataURL(e.target.files[0]);
            }
        });
    });
</script>